/stories/**
/build/**
/public/**
**/node_modules/**
**/dist/**
**/.cache/**
/builds/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/features/samples/**
/tools/i18n.js
/webpack/mock/static/**
test.js
!.eslintrc.js
/features/visualExplain/src/vendor/**
